@model IEnumerable<PREP.Models.ReleaseStakeholderVM>

<h2 class="header-title">Release Stakeholders</h2>
<div>
    <div class="detailsContent">
        <div class="form-group">
            <div class="item-lable">
            </div>
            <div class="form-inline">
                <span class="header">Stakeholder's Name</span>
            </div>
        </div>
        @for (int i = 0; i < Model.Count(); i++)
            {
            @Html.EditorFor(m => Model.ToList()[i])
        }
    </div>
</div>
